c Show that Xor(a,b,c) ==> Or(a, b,c)
c Vars:
c a: 1, b:2, c:3, O:4, X:5
p cnf 5 14
c OR(a,b,c)
1 2 3 -4 0
-1 4 0
-2 4 0
-3 4 0
c XOR(a, b)
-1 -2 -3 5 0
-1  2 -3 -5 0
 1 -2 -3 -5 0
 1  2 -3 5 0
-1 -2 3 -5 0
-1  2 3 5 0
 1 -2 3 5 0
 1  2 3 -5 0
c Implication
5 0
-4 0

